body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: black;
    padding: 1em;
    text-align: center;
    background-image: url(https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/18q1/699330/how-the-original-bullitt-movie-mustang-was-rediscovered-feature-car-and-driver-photo-704675-s-original.jpg?resize=640:*);
    width: 100%;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: initial;
    
}


nav {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:justify;
}

.car-card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.car-card img {
    width: 100%;
    border-radius: 5px;
}
#home h2{
    text-align: center;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
#home p{
    text-align: center;
}
.collection{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#searchbar{
    width: 100%;
    
    text-align: center;
}
.car-card:hover {
    transform: scale(1.05);
}
.footer{
    width: 100%;
    height: fit-content;
}
.contact{
    height: 40px;
    width: 100%;
}
.ups1:hover{
    transform: scale(1.5);
    color: black;
}
.ups2:hover{
    color: black;
    transform: scale(1.5);
}
.ups2:hover{
    transform: scale(1.5);
    color: black;
}
.ups3:hover{
    transform: scale(1.5);
    color: black;
}
.ups4:hover{
    transform: scale(1.5);
    color: black;
}
.FAQ{
    text-align: center;
}
.qna{
    color: black;
}
.qna.hover{
    color:aqua;
    transform: scale(0.5);
}
.signin{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pa.hover{
    color: red;
}
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }





  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
     
     
     
     
     
     
     
     



    